.wrapper {
  position: relative;
  margin: $default-wrapper-margin;
  width: $default-wrapper-width-s-screen;
}
@include make-wrapper('fixed', 0 auto, 100%, 756px, 960px, 1160px);

.row {
  position: relative;
  width: 100%;

  &:after {
    content: "";
    display: table;
    clear: both;
  }
}
@include make-spaced-rows();
