.wrapper {
  position: relative;
  margin: $wrapper-margin;
  width: $wrapper-width-s-screen;
}
@include make-wrapper('fixed', 0 auto, 100%, 756px, 960px, 1160px);

.row {
  position: relative;
  width: 100%;

  &:after {
    content: "";
    display: table;
    clear: both;
  }
  @include make-spaced-rows();

  &.row-striped-columns {

    .col {
      &:nth-child(even) {
        background: $color-lightgrey-alt;
      }
      &:nth-child(odd) {
        background: $color-lightgrey;
      }
    }
  }

}

.fixed {
  position: fixed;
  z-index: 999;

  &.fixed-top {
    width: 100%;
    top: 0;
  }
  &.fixed-bottom {
    width: 100%;
    bottom: 0;
  }
}

.col {
  float: left;
  padding: $column-padding;
  margin-left: 0;

  &.no-padding {
    padding: 0;
  }

  @include make-scale($breakpoint-medium) {
    margin-left: (1% * $column-spacing-percentage);
  }

  &:first-child {
    margin-left: 0;
  }

  @include make-columns(12);
}

.no-gutter {

  .col {
    float: left;
    min-height: 32px;
    margin-left: 0;

    &:first-child {
      margin-left: 0;
    }

    @include make-columns(12, false);
  }
}

.divider {
  height: 2px;
  width: 100%;
  background: $divider-background;
  margin: $divider-margin;
}