@mixin make-button(
  $title,
  $background,
  $color: $button-color,
  $padding: $button-padding,
  $font-size: $button-font-size
) {
  .button-#{$title} {
    color: $color;
    background: $background;
    padding: $padding;
    font-size: $font-size;

    &:hover {
      background: darken($background, 10%);
    }
  }
}