@mixin make-navigation(
  $title,
  $background: none,
  $color: inherit,
  $background-hover: none,
  $color-hover: inherit,
  $item-margin: $navigation-item-margin,
  $link-padding: $navigation-link-padding,
  $text-decoration: none,
  $text-decoration-hover: none
) {
  .navigation-#{$title} {
    background: $background;

    ul {
      list-style: none;
      margin: 0;
      padding: 0;

      li {
        display: inline-block;
        list-style: none;
        margin: $item-margin;

        a {
          display: block;
          text-decoration: $text-decoration;
          padding: $link-padding;
          color: $color;

          &:hover {
            color: $color-hover;
            background: $background-hover;
            text-decoration: $text-decoration-hover;
          }
        }
      }
    }
  }
}

@mixin make-list(
  $title,
  $style: initial,
  $margin: $list-margin,
  $line-height: $list-line-height,
  $color: inherit,
  $link-color: inherit,
  $link-decoration: underline
) {
  .list-#{$title} {
    list-style: $style;
    margin: $margin;
    color: $color;

    li {
      line-height: $line-height;

      a {
        color: $link-color;
        text-decoration: $link-decoration;
      }
    }
  }
}