@mixin make-text-alignments() {
  .text-left {
    text-align: left;
  }
  .text-center {
    text-align: center;
  }
  .text-right {
    text-align: right;
  }
}

@mixin make-text-styles() {
  b,
  strong,
  .text-bold {
    font-weight: bold;
  }
}

@mixin make-notes() {
  .note {
    display: inline-block;
    font-size: $note-font-size;
    margin: $note-margin;
  }
  .note-underlined {
    padding: $note-ul-padding;
    border-bottom: $note-ul-border;
  }
}