$color-red:             #ED5565;
$color-red-alt:         #DA4453;
$color-orange:          #FC6E51;
$color-orange-alt:      #E9573F;
$color-yellow:          #FFCE54;
$color-yellow-alt:      #FCBB42;
$color-green:           #A0D468;
$color-green-alt:       #8CC152;
$color-teal:            #48CFAD;
$color-teal-alt:        #37BC9B;
$color-aqua:            #4FC1E9;
$color-aqua-alt:        #38AFDA;
$color-blue:            #5D9CEC;
$color-blue-alt:        #4A89DC;
$color-purple:          #AC92EC;
$color-purple-alt:      #967ADC;
$color-pink:            #EC87C0;
$color-pink-alt:        #D770AD;
$color-lightgrey:       #F5F7FA;
$color-lightgrey-alt:   #E6E9ED;
$color-mediumgrey:      #CCD1D9;
$color-mediumgrey-alt:  #AAB2BD;
$color-darkgrey:        #656D78;
$color-darkgrey-alt:    #434A54;

$color-primary: #C2185B;

$default-font-family: "Assistant", arial, sans-serif;

$default-breakpoint-small: 480px;
$default-breakpoint-medium: 768px;
$default-breakpoint-large: 1024px;
$default-breakpoint-xlarge: 1200px;

$breakpoint-small:  $default-breakpoint-small;
$breakpoint-medium: $default-breakpoint-medium;
$breakpoint-large:  $default-breakpoint-large;
$breakpoint-xlarge: $default-breakpoint-xlarge;

$default-wrapper-width-s-screen: 96%;
$default-wrapper-width-m-screen: 96%;
$default-wrapper-width-l-screen: 90%;
$default-wrapper-width-xl-screen: 90%;
$default-wrapper-margin: 0 auto;

$default-heading-size-1: 3em;
$default-heading-size-2: 2.5em;
$default-heading-size-3: 1.75em;
$default-heading-size-4: 1.25em;
$default-heading-size-5: 1em;
$default-heading-size-6: 0.85em;

$heading-size-1: $default-heading-size-1;
$heading-size-2: $default-heading-size-2;
$heading-size-3: $default-heading-size-3;
$heading-size-4: $default-heading-size-4;
$heading-size-5: $default-heading-size-5;
$heading-size-6: $default-heading-size-6;

$default-button-color: #fff;
$default-button-padding: 8px 24px;
$default-button-font-size: 15px;